.second{
	background-color: green;
}

.first {
	background-color: blue;
}

.third {
	background-color: red;
}

.bg-grey{
	background-color: grey;
}

.bg-black{
	background-color: black;
	color: white;
}

.bg-aqm {
	background-color: aquamarine;
}

.bg-khaki {
	background-color:darkkhaki;
}

.bg-magenta {
	background-color:darkmagenta;
}

.bg-darksalmon {
	background-color:darksalmon;
}

.bg-palegreen {
	background-color: palegreen;
}

.start {
	background-color: yellow;
}

.end {
	background-color: teal;
}

.around {
	background-color: thistle;
}

.center {
	background-color: sandybrown;
}

.between {
	background-color: sienna;
}

.overall {
	background-color: papayawhip;
}

.level2 {
	background-color: peachpuff;
}

