.second{
	background-color: green;
}

.first {
	background-color: blue;
}

.third, .order-first {
	background-color: red;
}

.col-md-5, .order-last {
	background-color: grey;
}

.col-md-3, .order-second {
	background-color: black;
	color: white;
}

.col-md-2 {
	background-color: aquamarine;
}


.ml-auto {
	background-color:darkkhaki;
}

.mr-auto {
	background-color:darkmagenta;
}

.ml-md-auto {
	background-color:darksalmon;
}

.mr-md-auto {
	background-color: darkslategrey;
}

.start {
	background-color: yellow;
}

.end {
	background-color: teal;
}

.around {
	background-color: thistle;
}

.center {
	background-color: sandybrown;
}

.between {
	background-color: sienna;
}
